In [1]:
# Dependencies and Setup
import gmaps
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import requests

# Import API key
from config import gkey

In [2]:
# import weather CSV from part one into a df
dataFilepath = "../WeatherPy/weatherDataDF.csv"
weatherDataDF = pd.read_csv(dataFilepath)
weatherDataDF

,Unnamed: 0,Latitude,Longitude,Temperature,Relative Humidity,Cloudiness,Wind Speed
0,0,5.7291,10.9001,65.98,39,93,4.36
1,1,36.2333,139.1833,41.00,69,0,4.00
2,2,48.6501,-72.4491,6.76,66,40,2.30
3,3,32.0036,-80.9737,45.55,93,90,6.91
4,4,28.4167,-100.7667,35.87,87,90,9.22
...,...,...,...,...,...,...,...
574,574,24.4167,76.5667,62.55,30,0,4.32
575,575,9.4416,122.6257,79.79,78,100,3.85
576,576,6.7684,126.0774,77.00,100,75,3.44
577,577,58.9039,24.4306,27.00,96,94,1.01
578,578,-20.2828,57.6544,76.01,94,75,4.61

In [3]:
# Humidity Heatmap

# Configure gmaps.
gmaps.configure(api_key=gkey)

# Use the Lat and Long as locations and Humidity as the weight.
locations = weatherDataDF[["Latitude", "Longitude"]].astype(float)
weight = weatherDataDF["Relative Humidity"].astype(int)

# fig = gmaps.figure()
fig = gmaps.figure(zoom_level = 1.6, center = (20, 5))

# Add Heatmap layer to map.

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity = 100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions.
# You want to be sure the weather is ideal.
# Note: Feel free to adjust your specifications but be sure to
# limit the number of rows returned by your API requests to a reasonable number; e.g., 10.
# Use Google Places API to find the first hotel for each city
# located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing
# the Hotel Name, City, and Country.

# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions.

minTemp = 15
maxTemp = 32
minCloudy = 90
maxCloudy = 100

hotels_df = weatherDataDF.loc[(weatherDataDF["Temperature"] < maxTemp) & (weatherDataDF["Temperature"] > minTemp) & (weatherDataDF["Cloudiness"] > minCloudy) & (weatherDataDF["Cloudiness"] < maxCloudy), :]   
print(len(hotels_df))
hotels_df

10

,Unnamed: 0,Latitude,Longitude,Temperature,Relative Humidity,Cloudiness,Wind Speed
19,19,48.7896,14.7784,17.40,85,99,3.00
67,67,44.0834,41.9763,27.30,94,99,4.18
150,150,48.9167,-0.8333,27.36,87,98,14.20
169,169,52.7651,23.1865,27.00,79,93,11.14
358,358,48.5834,25.7687,24.01,84,97,10.00
384,384,49.1852,15.2869,17.65,75,93,1.99
409,409,43.0400,44.5708,26.29,93,96,6.71
500,500,43.9014,41.8997,27.21,92,94,2.84
504,504,54.6386,22.7632,26.20,97,99,12.86
577,577,58.9039,24.4306,27.00,96,94,1.01

In [5]:
# Drop any rows with null values.
# There aren't any.

# Hotel Map

# Store into variable named hotel_df.

# Add a "Hotel Name" column to the DataFrame.
hotels_df["Hotel Name"] = ""
hotels_df["City"] = ""
hotels_df["Country"] = ""
hotels_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Unnamed: 0,Latitude,Longitude,Temperature,Relative Humidity,Cloudiness,Wind Speed,Hotel Name,City,Country
19,19,48.7896,14.7784,17.40,85,99,3.00,,,
67,67,44.0834,41.9763,27.30,94,99,4.18,,,
150,150,48.9167,-0.8333,27.36,87,98,14.20,,,
169,169,52.7651,23.1865,27.00,79,93,11.14,,,
358,358,48.5834,25.7687,24.01,84,97,10.00,,,
384,384,49.1852,15.2869,17.65,75,93,1.99,,,
409,409,43.0400,44.5708,26.29,93,96,6.71,,,
500,500,43.9014,41.8997,27.21,92,94,2.84,,,
504,504,54.6386,22.7632,26.20,97,99,12.86,,,
577,577,58.9039,24.4306,27.00,96,94,1.01,,,

In [6]:
# PUfD
# test printing the whole JSON from just one search result:
#
#
# placeCount = 0

# # read Latitude out of row placeCount in hotels_df
# searchLat = hotels_df.iloc[placeCount, 1]

# # read Longitude out of row placeCount in hotels_df
# searchLong = hotels_df.iloc[placeCount, 2]

# # PUfD
# print(f"{searchLat}, {searchLong}")

# # Hit the Google Places API for each city's coordinates.

# # geocoordinates
# target_coordinates = f"{searchLat}, {searchLong}"
# target_search = "hotel"
# target_radius = 5000
# target_type = "hotel"

# # PUfD
# print(target_coordinates)

# # set up a parameters dictionary
# params = {
#     "location": target_coordinates,
#     "keyword": target_search,
#     "radius": target_radius,
#     "type": target_type,
#     "key": gkey
# }

# # base url
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)
# # print(response)
# # convert response to json
# places_data = response.json()

# # PUfD the json (pretty printed)
# # print(json.dumps(places_data, indent=4, sort_keys=True))

# hotelName = places_data["results"][0]["name"]
# # hotelName
# # print(hotelName)
# print(f"hotel: {hotelName.title()}")
# # set "Hotel Name" in hotels_df to hotelName
# hotels_df.iloc[placeCount, hotels_df.columns.get_loc("Hotel Name")] = hotelName


# place = places_data["results"][0]["plus_code"]["compound_code"]
# # place
# # print(f"{place}\n")

# chunks = place.split(",")
# # print(chunks)

# smallerChunks = chunks[(0)]
# smallerChunks = smallerChunks.split(" ", 1)
# city = smallerChunks[(1)]

# print(f"city: {city}")
# hotels_df.iloc[placeCount, hotels_df.columns.get_loc("City")] = city

# country = chunks[(1)]
# country = country.strip()
# print(f"country: {country}")
# hotels_df.iloc[placeCount, hotels_df.columns.get_loc("Country")] = country


# set "Place" in hotels_df to place
# hotels_df.iloc[placeCount, hotels_df.columns.get_loc("Place")] = place

#
#
#

In [7]:
placeCount = 0
print(f"At time of measurement, these geocoordinates had temps between {minTemp}\N{DEGREE SIGN}F and {maxTemp}\N{DEGREE SIGN}F and skies between {minCloudy}% and {maxCloudy}% cloudy:")
for place in hotels_df["Temperature"]:
    try:
        # read Latitude out of row placeCount in hotels_df
        searchLat = hotels_df.iloc[placeCount, 1]

        # read Longitude out of row placeCount in hotels_df
        searchLong = hotels_df.iloc[placeCount, 2]

        # PUfD
        # print(f"{searchLat}, {searchLong}")

        # Hit the Google Places API for each city's coordinates.

        # geocoordinates
        target_coordinates = f"{searchLat}, {searchLong}"
        target_search = "hotel"
        target_radius = 5000
        target_type = "hotel"

        # PUfD
        print(f"{searchLat} lat., {searchLong} long")

        # set up a parameters dictionary
        params = {
            "location": target_coordinates,
            "keyword": target_search,
            "radius": target_radius,
            "type": target_type,
            "key": gkey
        }

        # base url
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # run a request using our params dictionary
        response = requests.get(base_url, params=params)
        # print(response)
        # convert response to json
        places_data = response.json()

        # PUfD the json (pretty printed)
        # print(json.dumps(places_data, indent=4, sort_keys=True))

        hotelName = places_data["results"][0]["name"]
        # hotelName
        # print(hotelName)
        print(f"hotel: {hotelName.title()}")
        # set "Hotel Name" in hotels_df to hotelName
        hotels_df.iloc[placeCount, hotels_df.columns.get_loc("Hotel Name")] = hotelName


        place = places_data["results"][0]["plus_code"]["compound_code"]
        # place
        # print(f"{place}\n")

        chunks = place.split(",")
        # print(chunks)

        smallerChunks = chunks[(0)]
        smallerChunks = smallerChunks.split(" ", 1)
        city = smallerChunks[(1)]

        print(f"city: {city}")
        hotels_df.iloc[placeCount, hotels_df.columns.get_loc("City")] = city

        country = chunks[(1)]
        country = country.strip()
        print(f"country: {country}\n")
        hotels_df.iloc[placeCount, hotels_df.columns.get_loc("Country")] = country

        placeCount += 1
    except:
        print(f"Sorry, Google couldn't find a hotel within 3.1 miles of {searchLat} lat., {searchLong} long.\n")
        placeCount += 1

At time of measurement, these geocoordinates had temps between 15°F and 32°F and skies between 90% and 100% cloudy:
48.7896 lat., 14.7784 long
hotel: Zevlův Mlýn
city: Nové Hrady
country: Czechia

44.0834 lat., 41.9763 long

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

hotel: Гостиница Гаралы
city: Ust-Dzheguta
country: Karachay-Cherkessia

48.9167 lat., -0.8333 long
hotel: La Maison De La Fontaine
city: Le Bény-Bocage
country: France

52.7651 lat., 23.1865 long
hotel: Hotel Unibus
city: Bielsk Podlaski
country: Poland

48.5834 lat., 25.7687 long
Sorry, Google couldn't find a hotel within 3.1 miles of 48.5834 lat., 25.7687 long.

49.1852 lat., 15.2869 long
hotel: Pension Chytrov
city: Volfířov
country: Czechia

43.04 lat., 44.5708 long
hotel: Александрия
city: Vladikavkaz
country: Russia

43.9014 lat., 41.8997 long
Sorry, Google couldn't find a hotel within 3.1 miles of 43.9014 lat., 41.8997 long.

54.6386 lat., 22.7632 long
hotel: Robeda, Kavinė, L. Kudirkos Iį
city: Kybartai
country: Lithuania

58.9039 lat., 24.4306 long
hotel: Märjamaa Hostel
city: Märjamaa
country: Rapla County

In [8]:
print(f"Here (where available) is the nearest hotel within 3.1 miles of geocoordinates that, at time of measurement, were between {minTemp}\N{DEGREE SIGN}F and {maxTemp}\N{DEGREE SIGN}F and between {minCloudy}% and {maxCloudy}% cloudy skies. Vacation!")
hotels_df

Here (where available) is the nearest hotel within 3.1 miles of geocoordinates that, at time of measurement, were between 15°F and 32°F and between 90% and 100% cloudy skies. Vacation!

,Unnamed: 0,Latitude,Longitude,Temperature,Relative Humidity,Cloudiness,Wind Speed,Hotel Name,City,Country
19,19,48.7896,14.7784,17.40,85,99,3.00,Zevlův mlýn,Nové Hrady,Czechia
67,67,44.0834,41.9763,27.30,94,99,4.18,гостиница Гаралы,Ust-Dzheguta,Karachay-Cherkessia
150,150,48.9167,-0.8333,27.36,87,98,14.20,la Maison de la Fontaine,Le Bény-Bocage,France
169,169,52.7651,23.1865,27.00,79,93,11.14,Hotel Unibus,Bielsk Podlaski,Poland
358,358,48.5834,25.7687,24.01,84,97,10.00,,,
384,384,49.1852,15.2869,17.65,75,93,1.99,Pension Chytrov,Volfířov,Czechia
409,409,43.0400,44.5708,26.29,93,96,6.71,Александрия,Vladikavkaz,Russia
500,500,43.9014,41.8997,27.21,92,94,2.84,,,
504,504,54.6386,22.7632,26.20,97,99,12.86,"ROBEDA, kavinė, L. Kudirkos IĮ",Kybartai,Lithuania
577,577,58.9039,24.4306,27.00,96,94,1.01,Märjamaa Hostel,Märjamaa,Rapla County

In [9]:
# Plot markers on top of the heatmap.

# Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]

locationsWithHotels_df = hotels_df[hotels_df["Hotel Name"] != ""]
locationsWithHotels_df

,Unnamed: 0,Latitude,Longitude,Temperature,Relative Humidity,Cloudiness,Wind Speed,Hotel Name,City,Country
19,19,48.7896,14.7784,17.40,85,99,3.00,Zevlův mlýn,Nové Hrady,Czechia
67,67,44.0834,41.9763,27.30,94,99,4.18,гостиница Гаралы,Ust-Dzheguta,Karachay-Cherkessia
150,150,48.9167,-0.8333,27.36,87,98,14.20,la Maison de la Fontaine,Le Bény-Bocage,France
169,169,52.7651,23.1865,27.00,79,93,11.14,Hotel Unibus,Bielsk Podlaski,Poland
384,384,49.1852,15.2869,17.65,75,93,1.99,Pension Chytrov,Volfířov,Czechia
409,409,43.0400,44.5708,26.29,93,96,6.71,Александрия,Vladikavkaz,Russia
504,504,54.6386,22.7632,26.20,97,99,12.86,"ROBEDA, kavinė, L. Kudirkos IĮ",Kybartai,Lithuania
577,577,58.9039,24.4306,27.00,96,94,1.01,Märjamaa Hostel,Märjamaa,Rapla County

In [10]:
locations = locationsWithHotels_df[["Latitude", "Longitude"]]
locations

     Latitude  Longitude
19    48.7896    14.7784
67    44.0834    41.9763
150   48.9167    -0.8333
169   52.7651    23.1865
384   49.1852    15.2869
409   43.0400    44.5708
504   54.6386    22.7632
577   58.9039    24.4306

In [11]:
# This recreates the map with a heat layer for humidity:
fig = gmaps.figure(zoom_level = 1.8, center = (25, 0))
fig.add_layer(heat_layer)

# after reading the nuclear power plants example at https://jupyter-gmaps.readthedocs.io/en/latest/api.html
# this is a test making list of dictionaries by hand and feeding it into the marker layer--works fine:
# hotels = [
#     {"name": "Zevlův mlýn", "location": (48.7896, 14.7784), "city": "Nové Hrady", "country": "Czechia"},
#     {"name": "гостиница Гаралы", 'location': (44.0834, 41.9763), "city": "Ust-Dzheguta", "country": "Karachay-Cherkessia"},
# ]

# Making a list of dictionaries structured exactly as above, but automated:
hotels = []
placeCount = 0
for location in locationsWithHotels_df:
    hotel = locationsWithHotels_df.iloc[placeCount, locationsWithHotels_df.columns.get_loc("Hotel Name")]
    latitude = locationsWithHotels_df.iloc[placeCount, locationsWithHotels_df.columns.get_loc("Latitude")]
    longitude = locationsWithHotels_df.iloc[placeCount, locationsWithHotels_df.columns.get_loc("Longitude")]
    city = locationsWithHotels_df.iloc[placeCount, locationsWithHotels_df.columns.get_loc("City")]
    country = locationsWithHotels_df.iloc[placeCount, locationsWithHotels_df.columns.get_loc("Country")]
#    hotels.append({f"'name': {hotel}, 'location': '('{latitude}, {longitude}')', 'city': {city}, 'country': {country}"})
#    hotels.append(f"'name': {hotel}, 'location': '('{latitude}, {longitude}')', 'city': {city}, 'country': {country}")
    hotels.append({'name': hotel, 'location': (latitude, longitude), 'city': city, 'country': country})
    placeCount += 1
print(hotels)

hotel_locations = locations


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**hotel) for hotel in hotels]

marker_layer = gmaps.marker_layer(hotel_locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

IndexError: single positional indexer is out-of-bounds